


}
body{
    /* 高度 */
    height: 100%;
    /* 背景圖片 */
    background-image: url("https://images.unsplash.com/photo-1442512595331-e89e73853f31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60");
    background-repeat:no-repeat;
    /* 背景大小 */
    background-size: 100%;
    background-position:center;
}

/* 所有元素 */
*{
    /* 邊框 */
    border: 0.5px solid rgba(225,0,0,0.3);
    /* 字形 */
    font-family: 微軟黑正體;
    /* 字體顏色 */
    color: #ffffff;
}


/* 盒子區塊 */
#box {
    /* background-color: rgba(225, 0, 0, 0.3); */
    height: 500px;
}
